<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>DATAMATA - Give it and take it</title>
	
	<!-- Main CSS file -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/owl.carousel.css" />
	<link rel="stylesheet" href="static/css/magnific-popup.css" />
	<link rel="stylesheet" href="static/css/font-awesome.css" />
	<link rel="stylesheet" href="static/css/style.css" />
	<link rel="stylesheet" href="static/css/responsive.css" />

	
	<!-- Favicon -->
	<link rel="shortcut icon" href="static/images/icon/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/icon/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/icon/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/icon/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="static/images/icon/apple-touch-icon-57-precomposed.png">
	

	
</head>
<body>

	<!-- PRELOADER -->
	<div id="st-preloader">
		<div id="pre-status">
			<div class="preload-placeholder"></div>
		</div>
	</div>
	<!-- /PRELOADER -->

	
	<!-- HEADER -->
	<header id="header">
		<nav class="navbar st-navbar navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
				    	<span class="icon-bar"></span>
				    	<span class="icon-bar"></span>
				    	<span class="icon-bar"></span>
					</button>
					<a class="logo" href="index.html"><img src="static/images/logo.png" alt=""></a>
				</div>

				<div class="collapse navbar-collapse" id="st-navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
				    	<li><a href="#header">Home</a></li>
				    	<li><a href="#services">Services</a></li>
				    	<li><a href="#our-works">Works</a></li>
				    	<li><a href="#pricing">Pricing</a></li>
				    	<li><a href="#our-team">Team</a></li>
				    	<li><a href="#contact">Contact</a></li>
				    	<li><a href="blog.html">Blog</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>
	</header>
	<!-- /HEADER -->


	<!-- SLIDER -->
	<section id="slider">
		<div id="home-carousel" class="carousel slide" data-ride="carousel">			
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(static/images/slider/01.jpg)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1>ALL IN YOUR HAND.</h1>
								<h2>DATAMATA</h2>
								<p>Check All Data In The Fastest Time.</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(static/images/slider/02.jpg)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1>ALL IN YOUR HAND.</h1>
								<h2>DATAMATA</h2>
								<p>Check All Data In The Fastest Time.</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(static/images/slider/03.jpg)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1>ALL IN YOUR HAND.</h1>
								<h2>DATAMATA</h2>
								<p>Check All Data In The Fastest Time.</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(static/images/slider/04.jpg)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1>ALL IN YOUR HAND.</h1>
								<h2>DATAMATA</h2>
								<p>Check All Data In The Fastest Time.</p>
							</div>
						</div>
					</div>					
				</div>
				<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>		
		</div> <!--/#home-carousel--> 
    </section>
	<!-- /SLIDER -->

	
	<!-- SERVICES -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Services</h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-desktop"></i> CAPTCHA</h2>
					<p>Convert Captcha to text.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-cogs"></i> Translation</h2>
					<p>Translate any language to text.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-code"></i> X to text</h2>
					<p>Convert any things to text.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-dashboard"></i> License plate reader</h2>
					<p>Read Licence plate and convert to text.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-life-ring"></i> picture Tagging</h2>
					<p>picture tagging.</p>
				</div>

				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-weixin"></i>video tagging</h2>
					<p>video tagging.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- /SERVICES -->


	<!-- OUR WORKS -->
	<section id="our-works">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Out Works</h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="portfolio-wrapper" >
					<div class="col-md-12">
						<ul class="filter">  			
							<li><a class="active" href="#" data-filter="*">All</a></li>	
							<li><a href="#" data-filter=".wordpress">video tagging</a></li>
							<li><a href="#" data-filter=".html">x to text</a></li>
							<li><a href="#" data-filter=".graphic">CAPTCHA</a></li>
							<li><a href="#" data-filter=".php">translation</a></li>
							<li><a href="#" data-filter=".bootstrap">picture tagging</a></li>
						</ul><!--/#portfolio-filter-->
					</div>
					
					<div class="portfolio-items">
						
						<div class="col-md-4 col-sm-6 work-grid wordpress graphic">
							<div class="portfolio-content">
								<img class="img-responsive" src="static/images/works/portfolio-1.jpg" alt="">
								<div class="portfolio-overlay">
									<a href="static/images/works/portfolio-1.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5>captcha</h5>
									<p>captcha reader</p>
								</div>
							</div>	
						</div>
						
						<div class="col-md-4 col-sm-6 work-grid html php bootstrap">
							<div class="portfolio-content">
								<img class="img-responsive" src="static/images/works/portfolio-2.jpg" alt="">
								<div class="portfolio-overlay">
									<a href="static/images/works/portfolio-2.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5>captcha</h5>
									<p>captcha reader</p>
								</div>
							</div>	
						</div>
						
						<div class="col-md-4 col-sm-6 work-grid wordpress graphic">
							<div class="portfolio-content">
								<img class="img-responsive" src="static/images/works/portfolio-3.jpg" alt="">
								<div class="portfolio-overlay">
									<a href="static/images/works/portfolio-3.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5>captcha</h5>
									<p>captcha reader</p>
								</div>
							</div>	
						</div>
						
						<div class="col-md-4 col-sm-6 work-grid html php bootstrap">
							<div class="portfolio-content">
								<img class="img-responsive" src="static/images/works/portfolio-4.jpg" alt="">
								<div class="portfolio-overlay">
									<a href="static/images/works/portfolio-4.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5>translation</h5>
									<p>translation</p>
								</div>
							</div>	
						</div>
						
						<div class="col-md-4 col-sm-6 work-grid wordpress graphic php">
							<div class="portfolio-content">
								<img class="img-responsive" src="static/images/works/portfolio-5.jpg" alt="">
								<div class="portfolio-overlay">
									<a href="static/images/works/portfolio-5.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5>video tagging</h5>
									<p>video tagging</p>
								</div>
							</div>	
						</div>
						
						<div class="col-md-4 col-sm-6 work-grid html bootstrap graphic">
							<div class="portfolio-content">
								<img class="img-responsive" src="static/images/works/portfolio-6.jpg" alt="">
								<div class="portfolio-overlay">
									<a href="static/images/works/portfolio-6.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5>picture tagging</h5>
									<p>picture tagging</p>
								</div>
							</div>	
						</div>
						
					</div>				
				</div>

			</div>
		</div>
	</section>
	<!-- /OUR WORKS -->

	
	<!-- PRICING -->
	<section id="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Pricing</h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="st-pricing text-center">
						<h5>Basic</h5>
						<h3>$29</h3>
						<div class="st-border"></div>
						<ul>
							<li>1000 captcha per mounth</li>
							<li>1000+ captcha download</li>
							<li>Full Access</li>
							<li>Free Update</li>
							<li>Live Support/24 hours</li>
						</ul>
						<a href="" class="btn btn-send">Sign Up</a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="st-pricing text-center">
						<h5>Silver</h5>
						<h3>$59</h3>
						<div class="st-border"></div>
						<ul>
							<li>10000 captcha per mounth</li>
							<li>10000+ captcha download</li>
							<li>Full Access</li>
							<li>Free Update</li>
							<li>Live Support/24 hours</li>
						</ul>
						<a href="" class="btn btn-send">Sign Up</a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="st-pricing text-center">
						<h5>Gold</h5>
						<h3>$199</h3>
						<div class="st-border"></div>
						<ul>
							<li>100000 captcha per mounth</li>
							<li>10000+ captcha download</li>
							<li>Full Access</li>
							<li>Free Update</li>
							<li>Live Support/24 hours</li>
						</ul>
						<a href="" class="btn btn-send">Sign Up</a>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- /PRICING -->


	<!-- OUR TEAM -->
	<section id="our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Best Worker</h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" src="static/images/members/4.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Sergio</h4>
							<span>1.5 captch per 10 s</span>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" src="static/images/members/2.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Keisuke</h4>
							<span>1.2 captch per 10 s</span>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" src="static/images/members/33.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Suzan</h4>
							<span>1.1 captch per 10 s</span>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" src="static/images/members/1.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>david</h4>
							<span>0.9 captch per 10 s</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /OUR TEAM -->


	<!-- ABOUT US -->
	<section id="about-us">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="about-us text-center">
						<h4>about me.</h4>
						<p>my team is best in the world!</p>
						<p> Delivery of work in the shortest time and the highest quality of our commitment</p>
						<a href="" class="btn btn-send">View More</a>
					</div>
				</div>
				<div class="col-sm-6 our-office">
					<div id="office-carousel" class="carousel slide" data-ride="carousel">			
						<div class="carousel-inner">
							<div class="item active">
								<img src="static/images/office/04.jpg" alt="">
							</div>
							<div class="item">
								<img src="static/images/office/02.jpg" alt="">
							</div>
							<div class="item">
								<img src="static/images/office/03.jpg" alt="">
							</div>
							
							<a class="office-carousel-left" href="#office-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
							<a class="office-carousel-right" href="#office-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
						</div>		
					</div> <!--/#office-carousel--> 
				</div>
			</div>
		</div>
	</section>
	<!-- /ABOUT US -->
	
	<!-- TESTIMONIAL -->
	<section id="testimonial">
		<div class="container">
			<div class="row">
				<div class="overlay"></div>
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="st-testimonials">

						<div class="item active text-center">
							<p>captcha </p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Captcha Service</h5>
								<span>captcha ver 2.0</span>
							</div>
						</div>

						<div class="item text-center">
							<p>captcha</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Captcha Service</h5>
								<span>captcha ver 2.0</span>
							</div>
						</div>

						<div class="item text-center">
							<p>captcha</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Captcha Service</h5>
								<span>captcha ver 2.0</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /TESTIMONIAL -->



	<!-- FUN FACTS -->
	<section id="fun-facts">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="fun-fact text-center">
						<h3><i class="fa fa-thumbs-o-up"></i> <span class="st-counter">265</span></h3>
						<p>Happy Clients</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="fun-fact text-center">
						<h3><i class="fa fa-briefcase fa-6"></i> <span class="st-counter">73987</span></h3>
						<p>Completed captchas</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="fun-fact text-center">
						<h3><i class="fa fa-coffee"></i> <span class="st-counter">1244</span></h3>
						<p>Cups of Coffee</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="fun-fact text-center">
						<h3><i class="fa fa-code"></i> <span class="st-counter">1200</span></h3>
						<p>captcha per minutes</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /FUN FACTS -->

	
	<!-- CONTACT -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Contact us</h1>
						<span class="st-border"></span>
					</div>
				</div>
				<div class="col-sm-4 contact-info">
					<p class="contact-content">our team is best in the world</p>
					<p class="st-address"><i class="fa fa-map-marker"></i> <strong>2-13-6, Kaigan, Minato-ku, Tokyo 205-2546, Japan</strong></p>
					<p class="st-phone"><i class="fa fa-mobile"></i> <strong>+00 123-456-789</strong></p>
					<p class="st-email"><i class="fa fa-envelope-o"></i> <strong>info@datamata.io</strong></p>
					<p class="st-website"><i class="fa fa-globe"></i> <strong>www.datamata.io</strong></p>
				
				</div>
				<div class="col-sm-7 col-sm-offset-1">
					<form action="php/send-contact.php" class="contact-form" name="contact-form" method="post">
						<div class="row">
							<div class="col-sm-6">
								<input type="text" name="name" required="required" placeholder="Name*">
							</div>
							<div class="col-sm-6">
								<input type="email" name="email" required="required" placeholder="Email*">
							</div>
							<div class="col-sm-6">
								<input type="text" name="subject" placeholder="Subject">
							</div>
							<div class="col-sm-6">
								<input type="text" name="website" placeholder="Website">
							</div>
							<div class="col-sm-12">
								<textarea name="message" required cols="30" rows="7" placeholder="Message*"></textarea>
							</div>
							<div class="col-sm-12">
								<input type="submit" name="submit" value="Send Message" class="btn btn-send">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- /CONTACT -->

	<!-- FOOTER -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<!-- SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-push-6 footer-social-icons">
					<span>Follow us:</span>
					<a href="https://www.facebook.com/datamata/"><i class="fa fa-facebook"></i></a>
					<a href="https://www.twitte.com/datamata/"><i class="fa fa-twitter"></i></a>
					<a href="https://www.google.com/datamata"><i class="fa fa-google-plus"></i></a>
					<a href="https://www.pinterest.com/datamata"><i class="fa fa-pinterest"></i></a>
				</div>
				<!-- /SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-pull-6 copyright">
					<p>Shared by <i class="fa fa-love"></i><a href="https://datamata.to">datamata.io</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- /FOOTER -->


	<!-- Scroll-up -->
	<div class="scroll-up">
		<ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
	</div>

	
	<!-- JS -->
	<script type="text/javascript" src="static/js/jquery.min.js"></script><!-- jQuery -->
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script><!-- Bootstrap -->
	<script type="text/javascript" src="static/js/jquery.parallax.js"></script><!-- Parallax -->
	<script type="text/javascript" src="static/js/smoothscroll.js"></script><!-- Smooth Scroll -->
	<script type="text/javascript" src="static/js/masonry.pkgd.min.js"></script><!-- masonry -->
	<script type="text/javascript" src="static/js/jquery.fitvids.js"></script><!-- fitvids -->
	<script type="text/javascript" src="static/js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
	<script type="text/javascript" src="static/js/jquery.counterup.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="static/js/waypoints.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="static/js/jquery.isotope.min.js"></script><!-- isotope -->
	<script type="text/javascript" src="static/js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
	<script type="text/javascript" src="static/js/scripts.js"></script><!-- Scripts -->


</body>
</html>